In [1]:
import pandas as pd

data = pd.read_excel('task2_data_processing.xlsx', sheet_name=None)
print(data)

{'Conflicting Roles':    S.no    Base Role                    Conflicting Role Conflict Role ID
0     1  A/P Invoice  Adding Customer/Vendor Master Data          CRID001
1     2  A/P Invoice                      Adding Lead BP          CRID002
2     3  A/P Invoice             Remove Business Partner          CRID003, 'Access Listing - Validation':        User     Department  ...      Adding Lead BP Remove Business Partner
0   User AV  Manufacturing  ...  Full Authorization      Full Authorization
1    User A        Support  ...  Full Authorization      Full Authorization
2   User AT        Finance  ...    No Authorization        No Authorization
3   User AQ  Manufacturing  ...  Full Authorization      Full Authorization
4    User M  Manufacturing  ...  Full Authorization      Full Authorization
5   User AR  Manufacturing  ...    No Authorization        No Authorization
6    User K             HR  ...    No Authorization        No Authorization
7   User AM        Support  ...    No Authorization        No Authorization
8   User AI        Support  ...    No Authorization        No Authorization
9    User H  Manufacturing  ...    No Authorization        No Authorization
10  User AE  Manufacturing  ...    No Authorization        No Authorization
11   User E        Support  ...    No Authorization        No Authorization
12  User AC  Manufacturing  ...    No Authorization        No Authorization
13   User W  Manufacturing  ...    No Authorization        No Authorization
14   User I  Manufacturing  ...    No Authorization        No Authorization
15   User O        Finance  ...    No Authorization        No Authorization
16  User AO        Finance  ...    No Authorization        No Authorization
17   User C        Support  ...  Full Authorization      Full Authorization
18  User AY        Finance  ...    No Authorization      Full Authorization
19   User P      Warehouse  ...    No Authorization        No Authorization
20   User G      Warehouse  ...  Full Authorization      Full Authorization
21  User AU  Manufacturing  ...    No Authorization        No Authorization
22   User D             HR  ...    No Authorization        No Authorization
23   User L             HR  ...    No Authorization        No Authorization
24   User S  Manufacturing  ...    No Authorization        No Authorization
25  User AA        Support  ...    No Authorization        No Authorization
26   User F        Finance  ...    No Authorization        No Authorization
27   User V             HR  ...    No Authorization        No Authorization
28  User AK        Support  ...    No Authorization        No Authorization
29  User AN        Support  ...    No Authorization        No Authorization
30   User R  Manufacturing  ...    No Authorization        No Authorization
31   User B      Warehouse  ...    No Authorization        No Authorization
32  User AP        Finance  ...  Full Authorization      Full Authorization
33  User AB      Warehouse  ...    No Authorization        No Authorization
34  User AD             HR  ...    No Authorization        No Authorization
35   User J      Warehouse  ...    No Authorization        No Authorization
36   User Y             HR  ...    No Authorization        No Authorization
37   User Z      Warehouse  ...    No Authorization        No Authorization
38   User N        Support  ...    No Authorization        No Authorization
39  User AX        Finance  ...    No Authorization        No Authorization
40   User T  Manufacturing  ...    No Authorization        No Authorization
41   User X      Warehouse  ...    No Authorization        No Authorization
42  User AH  Manufacturing  ...    No Authorization        No Authorization
43  User AL             HR  ...    No Authorization        No Authorization
44  User AJ  Manufacturing  ...    No Authorization        No Authorization
45   User Q      Warehouse  ...    No Authorization        No Authorization
46  User AZ  Manufacturing  ...    No Authorization        No Authorization
47  User AS             HR  ...    No Authorization        No Authorization
48  User AW      Warehouse  ...  Full Authorization        No Authorization
49   User U        Support  ...    No Authorization      Full Authorization
50  User AF        Support  ...    No Authorization        No Authorization
51  User BA      Warehouse  ...  Full Authorization      Full Authorization
52  User AG      Warehouse  ...    No Authorization      Full Authorization

[53 rows x 6 columns], 'Invoice Validation':      Document Number Creation Date  ...     User Invoice Value
0         1819100458    2019-01-08  ...   User A         18849
1         1819100459    2019-01-08  ...   User C         18849
2         1819100526    2019-01-10  ...   User C          4140
3         1819100527    2019-01-10  ...   User D          4140
4         1819100552    2019-01-30  ...   User E          2921
..               ...           ...  ...      ...           ...
994       1927000343    2019-03-25  ...  User BA         46104
995       1927000344    2019-03-25  ...   User Y        102984
996       1927000345    2019-03-25  ...   User V         10700
997       1927000346    2019-03-25  ...  User AJ           146
998       1929000399    2019-03-10  ...   User W         59400

[999 rows x 6 columns]}

In [2]:
data.keys()

dict_keys(['Conflicting Roles', 'Access Listing - Validation', 'Invoice Validation'])

In [3]:
sheet1 = data['Conflicting Roles']
sheet2 = data['Access Listing - Validation']
sheet3 = data['Invoice Validation']

In [4]:
filter_dataframe = pd.merge(sheet3, sheet2, on=['User'], how='inner')
filter_dataframe

     Document Number Creation Date  ...      Adding Lead BP Remove Business Partner
0         1819100458    2019-01-08  ...  Full Authorization      Full Authorization
1         1819100563    2019-01-30  ...  Full Authorization      Full Authorization
2         1819100589    2019-01-30  ...  Full Authorization      Full Authorization
3         1819100681    2019-02-04  ...  Full Authorization      Full Authorization
4         1819100733    2019-02-19  ...  Full Authorization      Full Authorization
..               ...           ...  ...                 ...                     ...
994       1919000537    2019-03-20  ...    No Authorization        No Authorization
995       1927000288    2019-03-04  ...    No Authorization        No Authorization
996       1927000328    2019-03-20  ...    No Authorization        No Authorization
997       1927000277    2019-03-02  ...    No Authorization        No Authorization
998       1927000346    2019-03-25  ...    No Authorization        No Authorization

[999 rows x 11 columns]

In [5]:
filter_dataframe['Authorization'] = 'No'

In [6]:
filter_dataframe.loc[(filter_dataframe['A/P Invoice'] == 'Full Authorization') & (filter_dataframe['Adding Customer/Vendor Master Data'] == 'No Authorization') & 
                                                              (filter_dataframe['Adding Lead BP'] == 'No Authorization') &
                                                              (filter_dataframe['Remove Business Partner'] == 'No Authorization'), 'Authorization'] = 'Yes'

In [7]:
filter_dataframe

     Document Number Creation Date  ... Remove Business Partner Authorization
0         1819100458    2019-01-08  ...      Full Authorization            No
1         1819100563    2019-01-30  ...      Full Authorization            No
2         1819100589    2019-01-30  ...      Full Authorization            No
3         1819100681    2019-02-04  ...      Full Authorization            No
4         1819100733    2019-02-19  ...      Full Authorization            No
..               ...           ...  ...                     ...           ...
994       1919000537    2019-03-20  ...        No Authorization            No
995       1927000288    2019-03-04  ...        No Authorization            No
996       1927000328    2019-03-20  ...        No Authorization            No
997       1927000277    2019-03-02  ...        No Authorization            No
998       1927000346    2019-03-25  ...        No Authorization            No

[999 rows x 12 columns]

In [8]:
print(filter_dataframe['Authorization'].value_counts())

Yes    688
No     311
Name: Authorization, dtype: int64

In [9]:
def conflict(row):
  res = []
  if row['Authorization'] == 'No':
    if row['A/P Invoice'] != "Full Authorization":
      res.append(row['A/P Invoice'])
    if row['Adding Customer/Vendor Master Data']=="Full Authorization":
      res.append("CRID001")
    if row['Adding Lead BP']=="Full Authorization":
      res.append("CRID002")
    if row['Remove Business Partner']=="Full Authorization":
      res.append("CRID003")
  else:
    return "No Conflicting Rules"
  return ",".join(res)

In [10]:
filter_dataframe['Conflicting Rules'] = filter_dataframe.apply(conflict,axis = 1)

In [11]:
filter_dataframe['Conflicting Rules'].value_counts()

No Conflicting Rules                688
CRID001,CRID002,CRID003              84
Read-Only                            82
CRID002,CRID003                      54
CRID003                              42
No Authorization,CRID002             38
No Authorization,CRID001,CRID003      7
CRID001                               4
Name: Conflicting Rules, dtype: int64

In [12]:
final = filter_dataframe[['Document Number','Invoice Value','Department','Authorization','Conflicting Rules']]
final

     Document Number  Invoice Value  ... Authorization        Conflicting Rules
0         1819100458          18849  ...            No  CRID001,CRID002,CRID003
1         1819100563          92040  ...            No  CRID001,CRID002,CRID003
2         1819100589         187640  ...            No  CRID001,CRID002,CRID003
3         1819100681            623  ...            No  CRID001,CRID002,CRID003
4         1819100733           2818  ...            No  CRID001,CRID002,CRID003
..               ...            ...  ...           ...                      ...
994       1919000537           8625  ...            No                  CRID001
995       1927000288          18480  ...            No                  CRID001
996       1927000328          44755  ...            No                  CRID001
997       1927000277           6705  ...            No                Read-Only
998       1927000346            146  ...            No                Read-Only

[999 rows x 5 columns]

In [13]:
final.to_csv('output.csv',index=False)